.slider:vertical .track {
    -fx-pref-width:10;
}

.slider .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
}

.filled-turn-label {
	-fx-background-color: silver; 
	-fx-text-fill: black;
}

.empty-turn-label {
	-fx-background-color: white; 
	-fx-text-fill: grey
}